 <settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>/SpivNX3</username>
            <password>S/aY8rVtVzbeMMz49cKdlgHacLEmV8dv0btC0U8mjVxg</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg2</gpg.executable>
                <gpg.passphrase>{bigyantest1}</gpg.passphrase>
            </properties>
       </profile>
    </profiles>
</settings>